/* SAP Business Suite Icons */


@font-face {
  font-family: 'SAP Business Suite Icons Aug 2023';
  src:
    url('https://developer.dma-partners.de/sac_icon_fonts/sap_business_suite_icons/business_suite_files/BusinessSuiteInAppSymbols.woff2') format('woff2'),
    url('https://developer.dma-partners.de/sac_icon_fonts/sap_business_suite_icons/business_suite_files/BusinessSuiteInAppSymbols.woff') format('woff'),
    url('https://developer.dma-partners.de/sac_icon_fonts/sap_business_suite_icons/business_suite_files/BusinessSuiteInAppSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
