/* SAP Business Suite Icons */


@font-face {
  font-family: 'Business Suite Icon 2023';
  src:
    url('https://medma1.github.io/SAC_Fonts/BusinessSuiteInAppSymbols.woff2') format('woff2'),
    url('https://medma1.github.io/SAC_Fonts/BusinessSuiteInAppSymbols.woff') format('woff'),
    url('https://medma1.github.io/SAC_Fonts/BusinessSuiteInAppSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
