/* SAP Fiori Icons */

@font-face {
  font-family: 'Fiori Icon 2023';
  src:
    url('https://medma1.github.io/SAC_Fonts/SAP-icons-TNT.woff2') format('woff2'),
    url('https://medma1.github.io/SAC_Fonts/SAP-icons-TNT.woff') format('woff'),
    url('https://medma1.github.io/SAC_Fonts/SAP-icons-TNT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
