/* Font Example Tinos */


/* Specific TTF */
@font-face {
font-family: 'Specific TTF';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://developer.dma-partners.de/sac_icon_fonts/font_family_format/font_files/TKReg.ttf) format('truetype');
}



/*

Note: 

In this example there are 4 font face declarations for regular, italic, bold and bold italic styles. If your font does not have all the styles, you will get a warning in SAC and the browser will substitute its own versions for the missing styles.
The font name is specified in the font-family. You can have multiple font-face declaration for different styles, but they must have the same font-family. 
The font-style should be either normal or italic
The font-weight should be either 400 for regular or 700 for bold.
The src url must be an absolute path, relative path would not work as SAC would see it relative to itself, not the actual web server where the font files are hosted.
The valid formats are: truetype, woff and woff2.

Example: https://userapps.support.sap.com/sap/support/knowledge/en/2953986

*/
