/* SAP UI5 Icons */


@font-face {
  font-family: 'SAP UI5 Icons Nov 2023';
  src:
    url('https://github.com/SAP/theming-base-content/blob/master/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff2') format('woff2'),
    url('https://github.com/SAP/theming-base-content/blob/master/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff') format('woff'),
    url('https://github.com/SAP/theming-base-content/blob/master/content/Base/baseLib/sap_horizon/fonts/SAP-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}